@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;

}
#buscatudo{
    position: relative;
    right: -20%;
}
#ibusca{
    width: 50vw;
}
#logolupa{
    right: -48vw;
}
#lista{
    text-align: center;
}
.listacont{
    text-align: left;
}
#logocomput{
    text-align: left;
}
.listindividual{
    text-align: left;
    margin: 10px 3px;
    display: inline-block;
    width: 306px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.listindividual:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.13);
}